# interface for Zeek to capture traffic (promiscuous mode).
#  correct interface: ip -br addr
INTERFACE=eth0

# timezone for container logs and alert timestamps
TZ=Europe/Moscow

# GHCR user for pulling prebuilt images (models baked into consumer image)
GHCR_USER=zefx
TAG=latest
